---
permalink: /{{ locale }}/index.html
---

{% extends "layouts/base.njk" %}

{% set metaTitle = site[locale].metaTitle %}
{% set metaDescription = site[locale].metaDescription %}
{% set metaImage = site[locale].metaImage %}

{% block content %}
    {# page content #}
    <header class="c-header">
        <img src="/assets/img/hero_image.jpg" alt="msq hero image" class="c-header__background">
        <div class="l-container c-header__content">
            <nav class="c-header__nav  c-mainnav">
                <h1>
                    <a href="/">Mosaic Saxophone Quartet</a>
                </h1>
                <ul class="o-list-bare c-mainnav__items c-mainnav-items">
                    {% for item in links %}
                        <li><a href="{{ item.href }}">{{ item.label }}</a></li>
                    {% endfor %}
                </ul>
            </nav>
            <blockquote class="l-container">
                {{ hero.quote }}
                {{ hero.author }}
            </blockquote>
        </div>
    </header>
    <section class="c-about">
        <h2>{{ about.title }}</h2>
        <div>{{ about.body }}</div>
    </section>
    <section class="c-members">
        <ul>
            {% for member in members %}
                <li>
                    <span>{{ member.title }}</span>
                    <span>{{ member.instrument }}</span>
                </li>
            {% endfor %}
        </ul>
    </section>
    <section class="c-videos">
        <h2>{{ t.videos }}</h2>
    </section>
    <section class="c-gallery">
        <h2>{{ t.gallery }}</h2>
    </section>
    <section class="c-repertoires">
        <h2>{{ t.repertoires }}</h2>
    </section>
    <section class="c-agenda">
        <h2>{{ t.see_us_live }}</h2>
        <h3>{{ t.past_events }}</h3>
        <ul>
            {% for concert in past_concerts %}
                {% include 'partials/concert.njk' %}
            {% endfor %}
        </ul>
        <h3>{{ t.future_events }}</h3>
        <ul>
            {% for concert in future_concerts %}
                {% include 'partials/concert.njk' %}
            {% endfor %}
        </ul>
    </section>
    <section class="c-contact">
        <h2>{{ strings.get_in_touch }}</h2>
        <div>
            <a href="mailto:{{ site.contact.mail }}">{{ site.contact.mail }}</a>
            <ul>
                {% for contact in site.contact.contacts %}
                    <li>
                        <a href="tel:{{ contact.phone }}">
                            <span>{{ contact.phone }}</span>
                        </a>
                        <span>{{ contact.name }}</span>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </section>
{% endblock %}