
// ==========================================
// body
// ==========================================

body {
  margin: 0;
  padding: 0;
  background-color: var(--color-white);
  color: var(--color-text);
  font-size: 1rem;

  @include mq(large) {
    font-size: calc(18 / 16 * 1rem);
  }
}