.c-mainnav {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: calc(24 / 16 * 1rem);
  gap: 2rem;
  @include mq(large) {
    justify-content: space-between;
    flex-direction: row;
    align-items: flex-start;
  }

  &__items {
    order: 1;
    @include mq(medium) {
      order: 1;
    }
  }

  &__link {
    order: 2;
    margin: 0;
    @include mq(medium) {
      order: 0;
    }
  }
}

.c-mainnav-items {
  display: flex;
  gap: calc(16 / 16 * 1rem);
  padding: calc(10 / 16 * 1rem) calc(16 / 16 * 1rem);
  justify-content: center;
  align-items: center;
  background: var(--color-background4);
  border-radius: 99rem;
  text-transform: uppercase;
}

.c-mainnav-link {
  text-decoration: none;
  color: var(--color-brand);
  &.is-active {
    color: white;
  }
}
