// ==========================================
// titles
// ==========================================

.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-weight: 420;
  font-family: var(--fontstack-alt);
  line-height: 1.32;
  color: var(--color-titles);
  margin-bottom: 0.72em;
}

.h1 {
  font-size: clamp(32 / 16 * 1rem, 1rem + 3vw, 36 / 16 * 1rem);
}

.h2 {
  font-size: clamp(29 / 16 * 1rem, 1rem + 2.5vw, 32 / 16 * 1rem);
}

.h3 {
  font-size: clamp(26 / 16 * 1rem, 1rem + 2.5vw, 29 / 16 * 1rem);
}

.h4 {
  font-size: calc(23 / 16 * 1rem);
}

.h5 {
  font-size: calc(20 / 16 * 1rem);
}

.h6 {
  font-size: calc(18 / 16 * 1rem);
  line-height: 1.44;
}

// ==========================================
// small titles
// ==========================================

.c-smalltitle {
  font-weight: 420;
  font-family: var(--fontstack-alt);
  line-height: 1.32;
  color: var(--color-titles);
  margin-bottom: 0.72em;
  font-size: 1rem;
}
