.c-repertoires {
  padding-top: calc(60 / 16 * 1rem);
  padding-bottom: calc(60 / 16 * 1rem);
  @include mq(medium) {
    padding: calc(60 / 16 * 1rem);
    display: grid;
    gap: var(--grid-gap);
    grid-template-columns: repeat(12, 1fr);
  }

  &__wrapper{
    margin-bottom: calc(32 / 16 * 1rem);;
    @include mq(medium) {
      margin-bottom: 0;
    }
  }
  &__wrapper,
  &__list {
    grid-column: 2 / 13;
  }

  &__title {
    margin-bottom: calc(32 / 16 * 1rem);
    @include mq(medium) {
      margin-bottom: calc(60 / 16 * 1rem);
    }
  }
  &__body {
    margin-bottom: calc(40 / 16 * 1rem);
    font-size: calc(16 / 16 * 1rem);
    line-height: 24px;
    @include mq(medium) {
      font-size: calc(22 / 16 * 1rem);
      line-height: 34px;
      margin-bottom: calc(60 / 16 * 1rem);
    }
  }
}

.c-repertoire-select {
  background: var(--color-gray1);
  padding: 1rem 2rem;
  border-radius: 99rem;
  display: inline-flex;
  gap: 1rem;
  &__select {
    font-size: calc(22 / 16 * 1rem);
    appearance: none;
    border: none;
    background: none;
  }
}

.c-repertoire-work {
  margin-bottom: calc(32 / 16 * 1rem);
  @include mq(medium) {
    margin-bottom: 0;
    display: grid;
    gap: var(--grid-gap);
    grid-template-columns: repeat(11, 1fr);
  }
  font-size: calc(18 / 16 * 1rem);
  &__title {
    margin-bottom: calc(16 / 16 * 1rem);
    @include mq(medium) {
      grid-column: 1 / 5;
    }
  }
  &__body {
    @include mq(medium) {
      grid-column: 5 / 12;
    }
  }
}
