.c-videos {
  padding-top: calc(64 / 16 * 1rem);
  padding-bottom: calc(64 / 16 * 1rem);
  @include mq(medium) {
    padding: calc(96 / 16 * 1rem) 0;
    gap: var(--grid-gap);
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    align-items: center;
  }
  &__content {
    grid-column: 2 / 6;
  }
  &__video {
    display: none;
    @include mq(medium) {
      display: block;
      grid-column: 6 / 13;
    }
  }
  &__title{
    margin-bottom: calc(48 / 16 * 1rem);
    @include mq(medium){

    }
  }
  &__item{
    margin-bottom: calc(24 / 16 * 1rem);
  }
}
.c-video-btn {
  color: var(--color-green2);
  cursor: pointer;
  appearance: none;
  border: none;
  background: none;
  display: flex;
  gap: calc(16 / 16 * 1rem);
  text-align: left;
  position: relative;
  padding: 0;
  width: 100%;
  @include mq(medium) {
    display: block;
    opacity: 60%;
  }
  &:hover {
    opacity: 0.5;
  }
  &__content {
    display: block;
  }
  &__icon {
    svg {
      width: calc(48 / 16 * 1rem);
      height: calc(48 / 16 * 1rem);
    }
    @include mq(medium) {
      display: none;
    }
  }
  &__title {
    font-size: 24px;
    line-height: 24px;
    display: block;
    margin-bottom: calc(12 / 16 * 1rem);
  }
  &__body {
    font-size: 1rem;
    font-style: italic;
    display: block;
  }
  &.active {
    opacity: 100%;
    @include mq(medium) {
      &:after {
        position: absolute;
        content: "";
        height: 4px;
        background: var(--color-sand2);
        right: -60px;
        z-index: 2;
        top: 0.5rem;
        width: 48px;
      }
    }
  }
}
