---
metaTitle: Aurélie Moreels
links:
    - label: Acceuil
      href: /
    - label: Kinesiologie
      href: /
    - label: Chant lyrique
      href: /
    - label: Ateliers
      href: /
    - label: Chant energetique
      href: /
---

{% extends "layouts/base.njk" %}

{% block content %}
    <div class="c-container">
        <h1>Aurélie Moreels</h1>
        <h2></h2>
    </div>
{% endblock %}
