// ==========================================
// spacing
// ==========================================

:root {
  --space-xxs: calc(3 / 16 * 1rem);
  --space-xs: calc(6 / 16 * 1rem);
  --space-s: calc(12 / 16 * 1rem);
  --space-base: calc(18 / 16 * 1rem);
  --space-l: calc(24 / 16 * 1rem);
  --space-xl: calc(32 / 16 * 1rem);
  --space-xxl: calc(36 / 16 * 1rem);
}
