<li class="c-concert">
    {% if concert.nice_date %}
        <p class="c-concert__date">{{ concert.nice_date }}</p>
    {% else %}
        <p class="c-concert__date">{{ concert.date | dateMed: 'fr' }}</p>
    {% endif %}
    <h5 class="c-concert__title">
        <span>{{ concert.name }}</span>
        <span>{{ concert.where }}</span>
    </h5>
</li>