<li class="c-repertoire js-repertoire" data-name="{{ repertoire.name }}">
    <h3 class="c-repertoire__title js-repertoire-name">{{ repertoire.name }}</h3>
    <div class="c-repertoires__body">{{ repertoire.content }}</div>
    <ul class="o-list-bare">
        {% for work in repertoire.works %}
            <li class="c-repertoire-work">
                <h4 class="c-repertoire-work__title">{{ work.title }}</h4>
                <div class="c-repertoire-work__body">{{ work.description }}</div>
            </li>
        {% endfor %}
    </ul>
</li>