<nav class="l-container c-mainnav">
    <a href="/">Aurelie Moreels</a>
    <ul class="o-list-bare c-mainnav__items c-mainnav-items">
        {% for item in links %}
            <li><a href="{{ item.href }}">{{ item.label }}</a></li>
        {% endfor %}
    </ul>
</nav>