<div class="c-videoplayer  js-video-player" data-video-service="youtube" data-video-id="{{ video.id }}">
    <a class="c-videoplayer__link  js-video-link" href="{{ video.link }}" aria-label="play video: video title">
        {% image video.url, video.link, "(min-width: 30em) 625px, 100vw", 'c-videoplayer__cover' %}
    </a>
    <template class="js-video-template">
        <iframe src="" allow="autoplay; fullscreen" allowfullscreen></iframe>
    </template>
</div>